<div class="container">

    <div class="header">
      <h1>My ToDo List</h1>
      <div class="info">
        <div class="item">
          <div class="inner"><p class="day">13</p></div>
          <div class="inner">
            <div class="top"><p class="week">SATURDAY</p></div>
            <div class="bottom">
              <p class="month-year">JULY,2019</p>
            </div>
          </div>
        </div>
        <div class="item"><i class="far fa-calendar-check"></i></div>
      </div>
    </div>


  <%= form_for @todo,:html => {:class => "form-horizontal center"} do |f| %>
  <div class="form-group">
    <%= f.label :task, "Task", class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :task, class: "form-control", readonly: true  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :note, "Note", class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_area :note, class: "form-control", readonly: true, :rows => 5 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :due_date, "Due Date", class: "col-md-3 control-label" %>
    <div class="col-md-7">
      <%= f.text_field :due_date, class: "form-control", readonly: true  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3"></div>
    <div class="col-md-7">
     <%= link_to "Back to index", :back, class: "pull-right"%>
    </div>
  </div>
 <% end %>
 </div>
</div>
